html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.main-container #nav-section {
  width: 100%;
  height: 77px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e3e8;
  z-index: 1000;
}

#nav-section .navbar {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#nav-section .logo {
  width: 109px;
  height: 45px;
}

#nav-section .nav-links {
  display: flex;
  gap: 20px;
}

#nav-section .nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

#nav-section li {
  list-style: none;
  width: 107px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-section .nav-links a {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

#nav-section #contact-us {
  background-color: #2b3990;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

#hero-section {
  width: 100%;
  height: 800px;
  /* border: 1px solid #ccc; */
  /* display: flex; */
  position: relative;
  top: 70px;
  left: 0;
  /* padding: 100px; */
}

.hero-content {
  display: flex;
  justify-content: center;
}

#hero-nav {
  margin-top: 50px;
  margin-left: 95px;
}

#hero-nav .product {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  color: #4d545c;
  letter-spacing: -0.6%;
}

#hero-nav .product-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6%;
}

.carousel-container {
  width: 90%;
  margin-top: 20px;
}

.main-slide {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.main-slide img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.tag {
  position: absolute;
  background: rgba(60, 90, 120, 0.85);
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.arrow.left {
  left: 20px;
}
.arrow.right {
  right: 20px;
}

.thumbnails {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.thumb {
  width: 110px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.thumb.active {
  opacity: 1;
  border: 3px solid #4a90e2;
}

.hero-left {
  width: 50%;
}

.badges {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.badges span {
  background: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px 0px #0000000d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

/* Heading */
h1 {
  font-size: 42px;
  font-weight: 700;
  color: #1f2937;
  line-height: 1.2;
  margin-bottom: 25px;
}

/* Features */
.features {
  list-style: none;
  margin-bottom: 25px;
  padding-left: 0; 
}

.features li {
  margin-bottom: 14px;
  font-size: 15px;
  color: #374151;
  position: relative;
  padding-left: 24px; 
}

/* Circle background */
.features li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* better vertical align */
  width: 16px;
  height: 16px;
  background: #2b3990;
  border-radius: 50%;
}

/* Check mark */
.features li::after {
  content: "✔";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-55%);
  font-size: 9px;
  color: white;
  font-weight: bold;
}

/* Price Card */
.price-card {
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #cfd1d4;
}

.price-label {
  font-size: 14px;
  color: #6b7280;
}

.price-card h3 {
  margin: 8px 0 12px;
  font-size: 20px;
  color: #111827;
}

.info-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.info-tags span {
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 6px;
}

.shipping {
  background: #fde68a;
}

.returns {
  background: #fcd34d;
}

.cert {
  font-size: 13px;
  color: #6b7280;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 12px;
}

.primary {
  background: #1e3a8a;
  color: #fff;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.secondary {
  background: #fff;
  color: #1e3a8a;
  padding: 12px 22px;
  border-radius: 8px;
  border: 1px solid #1e3a8a;
  font-size: 14px;
  cursor: pointer;
}

.primary:hover {
  background: #1d4ed8;
}

.secondary:hover {
  background: #eef2ff;
}

.trusted-section {
  background: #f3f4f6;
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.trusted-text {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 30px;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.logo-row img {
  height: 35px;
  width: 120px;
  opacity: 0.8;
  transition: 0.3s ease;
}

.logo-row img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.spec-section {
  background: linear-gradient(135deg, #0f172a, #0b1a2f);
  /* padding: 80px 20px; */
  color: white;
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spec-container {
  width: 80%;
  padding: 80px 0;
  text-align: center;
}

.spec-section h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.spec-subtitle {
  color: #94a3b8;
  margin-bottom: 40px;
  font-size: 15px;
  text-align: center;
}

.table-wrapper {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapperthead {
  background: rgba(255, 255, 255, 0.08);
}

.table-wrapper th {
  text-align: left;
  padding: 16px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #cbd5e1;
}

.table-wrapper td {
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 14px;
  color: #e2e8f0;
}

.table-wrapper tbody tr:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.btn-wrapper {
  text-align: center;
  margin-top: 40px;
}

.download-btn {
  background: transparent;
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.download-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Feature section */

.features-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-container {
  /* max-width: 1200px; */
  margin: auto;
  width: 80%;
  text-align: center;
}

.features-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #111827;
}

.features-subtitle {
  color: #6b7280;
  margin: auto;
  margin-bottom: 40px;
  max-width: 650px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.feature-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  border: 1px solid #e5e7eb;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.icon {
  font-size: 22px;
  margin-bottom: 15px;
  color: #1d4ed8;
}

.feature-card h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #111827;
}

.feature-card p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
}

.cta-wrapper {
  text-align: center;
  margin-top: 40px;
}

.cta-btn {
  background: #1e3a8a;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #1d4ed8;
}

.faq-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.faq-container {
  max-width: 900px;
  margin: auto;
}

.faq-title {
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}

.faq-title span {
  color: #1e3a8a;
}

.faq-item {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq-question {
  padding: 18px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  padding: 0 18px;
  font-size: 14px;
  color: #6b7280;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item.active .faq-answer {
  padding: 18px;
  max-height: 200px;
}

.icon {
  font-size: 16px;
  color: #535a61;
  width: 40px;
  height: 40px;
  background: #f1f2f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applications-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.applications-container {
  width: 80%;
  margin: auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.section-header p {
  color: #6b7280;
  max-width: 600px;
  font-size: 14px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #1e3a8a;
  color: white;
}

/* Horizontal Scroll */

.cards-wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.cards-wrapper::-webkit-scrollbar {
  display: none;
}

/* Card */

.app-card {
  min-width: 300px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.app-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
}

.card-overlay h4 {
  margin-bottom: 8px;
}

.card-overlay p {
  font-size: 13px;
  color: #e5e7eb;
}

.process-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.stepper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0;
  position: relative;
}

.stepper::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%;
  height: 2px;
  background: #d1d5db;
  transform: translateY(-50%);
  z-index: 0;
  left: 37px;
  width: 90%;
}

.step {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.step.active {
  background: #1e3a8a;
  color: #fff;
  border-color: #1e3a8a;
}

.process-content {
  display: flex;
  gap: 40px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  text-align: left;
  align-items: center;
}

.process-left {
  flex: 1;
}

.process-left ul {
  margin-top: 15px;
}

.process-left li {
  margin-bottom: 10px;
}

.process-right {
  flex: 1;
  position: relative;
}

.process-right img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.img-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.img-btn.left {
  left: 10px;
}
.img-btn.right {
  right: 10px;
}

/* testimonial-section */

.testimonial-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
  /* overflow: hidden; */
}

.testimonial-container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 50px;
  margin-bottom: 50px;
}

/* Wrapper */
.testimonial-wrapper {
  overflow: hidden;
  position: relative;
}

/* Track */
.testimonial-track {
  display: flex;
  gap: 20px;
  animation: scroll 30s linear infinite;
}

/* Pause on hover */
.testimonial-wrapper:hover .testimonial-track {
  animation-play-state: paused;
}

/* Card */
.testimonial-card {
  width: 250px; /* IMPORTANT FIX */
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  text-align: left;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

.quote-icon {
  font-size: 28px;
  color: #1e3a8a;
  margin-bottom: 12px;
}

.testimonial-card h4 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.testimonial-card p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 18px;
  line-height: 1.6;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e5e7eb;
}

.user-info {
  font-size: 12px;
  color: #374151;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.portfolio-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.portfolio-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #e5e7eb;

  display: flex; 
  flex-direction: column; 
  height: 100%;
  transition: 0.3s ease;
}

.portfolio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.portfolio-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.portfolio-card p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 15px;
}

/* Push image + button to bottom */
.card-bottom {
  margin-top: auto; 
}

/* Image */
.portfolio-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  height: 150px;
  object-fit: cover;
}

/* Button */
.learn-btn {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #f9fafb;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

.learn-btn:hover {
  background: #1e3a8a;
  color: white;
  border-color: #1e3a8a;
}

/* CTA */
.portfolio-cta {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.portfolio-cta h4 {
  margin-bottom: 5px;
}

.portfolio-cta span {
  color: #1e3a8a;
}

.portfolio-cta p {
  font-size: 13px;
  color: #6b7280;
}

.portfolio-cta button {
  background: #1e3a8a;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio-cta button:hover {
  background: #1d4ed8;
}

.resources-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.resources-container {
  max-width: 900px;
  margin: auto;
}

.resources-subtitle {
  color: #6b7280;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.resources-table {
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
}

.resources-table table {
  width: 100%;
  border-collapse: collapse;
}

.resources-table tr {
  border-bottom: 1px solid #e5e7eb;
}

.resources-tabletr:last-child {
  border-bottom: none;
}

.resources-table td {
  padding: 0px 20px;
  text-align: left;
  font-size: 14px;
  color: black;
}

.download-cell {
  text-align: right;
}

.download-btn {
  color: #1e3a8a;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.download-btn:hover {
  text-decoration: underline;
}

.download-icon {
  font-size: 14px;
}

.cta-section {
  background: #f3f4f6;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.cta-container {
  width: 80%;
  margin: auto;
  background: #1e2a78;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: white;
}

/* Left Side */
.cta-left {
  flex: 1;
}

.cta-left h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cta-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #d1d5db;
}

.cta-contact {
  font-size: 13px;
  color: #cbd5e1;
}

/* Form Card */
.cta-form-card {
  flex: 1;
  background: #ffffff;
  border-radius: 14px;
  padding: 25px;
  color: #111827;
  max-width: 380px;
}

.cta-form-card h4 {
  margin-bottom: 15px;
}

.cta-form-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cta-form-card input,
.cta-form-card select {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  font-size: 13px;
}

.phone-group {
  display: flex;
  gap: 8px;
}

.phone-group select {
  width: 30%;
}

.phone-group input {
  width: 70%;
}

.cta-form-card button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #111827;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.cta-form-card button:hover {
  background: #1e3a8a;
}

.footer-section {
  background: #f3f4f6;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 80%;
}

/* Top Banner */
.footer-banner {
  padding: 30px 20px;
}

.footer-banner-content {
  max-width: 1200px;
  margin: auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #1B1C1D0A;
}

.footer-logo {
  margin: 0;
  font-weight: 700;

  img {
    width: 109px;
  }
}

.footer-tagline {
  font-size: 16px;
}

.footer-tagline span {
  color: #1e3a8a;
  font-weight: 600;
}

/* Footer Grid */
.footer-container {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 20px;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-column a,
.footer-column p {
  display: block;
  font-size: 13px;
  color: #6b7280;
  text-decoration: none;
  margin-bottom: 8px;

  img {
    width: 16px;
    height: 16px;
  }
}

.footer-column a:hover {
  color: #1e3a8a;
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
  display: flex;
  img {
    width: 16px;
    height: 16px;
  }
}

.social-icons a {
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
}

/* Bottom Strip */
.footer-bottom {
  border-top: 1px solid #e5e7eb;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  font-size: 12px;
  color: #6b7280;
  width: 90%;
}

.footer-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #6b7280;
}

.footer-links a:hover {
  color: #1e3a8a;
}
